:root {
    --bg: light-dark(white, black);
    --fg: light-dark(black, white);
    --border: 1pt solid var(--fg);
    font-family: "FreeSerif", times, serif;
    background-color: light-dark(beige, dimgray);
    color: var(--fg);
}

body {
    margin: auto;
    text-align: center;
}

a {
    color: var(--fg);
}

article {
    border: var(--border);
    display: inline-block;
    margin: 5pt;
    background-color: var(--bg);
    color: var(--fg);
}

article img {
    max-width: 100%;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

footer {
    font-style: italic;
}

/* Custom player style */
midi-player {
    color: var(--fg);
    background-color: var(--bg);
}

midi-player::part(control-panel) {
    color: var(--fg);
    background-color: var(--bg);
    border: none;
}

midi-player::part(play-button) {
    color: var(--fg);
    background-color: var(--bg);
    border: none;
}

/*
midi-player::part(time) {
  font-family: monospace;
}
*/
