:root {
    --item-bg: light-dark(white, black);
    --fg: light-dark(black, white);
    --border: var(--line);
}

body {
    margin: auto;
    max-width: unset;
    text-align: center;
}

h1 {
    font-size: xxx-large;
    font-weight: normal;
}

h2 {
    font-size: xx-large;
    font-weight: normal;
}

details[open] {
    max-width: 32em;
    padding: 10pt;
}

details p, details ul {
    text-align: justify;
}

/* Available soon in Firefox
details[open]::details-content {
}
*/

article, details[open] {
    color: var(--fg);
    border: var(--border);
    display: inline-block;
    margin: 5pt;
    background-color: var(--item-bg);
}

article img {
    max-width: 100%;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

article p {
    font-family: "FreeSerif", times, serif;
}

footer {
    font-style: italic;
}

audio {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}

@media print {
    @page {
        size: a5 portrait;
        margin: 0;
    }
    * {
        color: black;
        background-color: white;
        font-family: "FreeSerif", times, serif;
    }
    html {
        border: none;
    }
    nav, details, article p, audio, footer {
        display: none;
    }
    article, article a, article img {
        margin: 0;
        width: 147mm; /*148.5mm;*/
        border: none;
    }
    h1, h2 {
        break-after: page;
        padding-top: 8cm;
        color: black;
    }
    article {
        break-after: page;
    }
}
